<a href="https://colab.research.google.com/github/Mercybiwott/Week-3-IP/blob/main/pythonworkbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Let's import the pandas library
#
import pandas as pd

In [10]:
#loading csv
data_xls  = pd.read_excel('/content/CDR_description.xlsx',dtype=str,index_col=None)
data_xls.to_csv('/content/CDR_description.xlsx',encoding='utf-8',index= False)
df=pd.read_csv('/content/CDR_description.xlsx')
df

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [14]:
#loading cells description
dat_xls = pd.read_excel('/content/cells_geo_description.xlsx', dtype= str,index_col=None)
data_xls.to_csv('/content/cells_geo_description.xlsx',encoding= 'utf-8',index= False)
df =pd.read_csv('/content/cells_geo_description.xlsx')
df

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [4]:
#loading cells geo csv

data =pd.read_csv('/content/cells_geo.csv', header = None)
df

         PRODUCT  VALUE  ...      CELLID     SIET_ID
0          Voice     61  ...  +38u2u/rfx  +38u2u/rfx
1            sms      0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2          Voice     10  ...  +ZaaZozy/+  +ZaaZozy/+
3            sms      0  ...  +cNeJzsTp3  +cNeJzsTp3
4          Voice     22  ...  /eeMklgyJA  /eeMklgyJA
...          ...    ...  ...         ...         ...
14834796   Voice     14  ...  zsA2dnzCR5  zsA2dnzCR5
14834797     sms      0  ...  xxbbz32oIL  xxbbz32oIL
14834798     sms      0  ...  zbVRn1hiwe  zbVRn1hiwe
14834799     sms     25  ...  yPq8TPd7WC  yPq8TPd7WC
14834800     sms      0  ...  zqHx55Evcc  zqHx55Evcc

[14834801 rows x 10 columns]

In [15]:
import pandas as pd

In [9]:
#loading telecom data set
url = 'http://bit.ly/TelecomDataset1'
df =pd.read_csv(url)
df

         PRODUTC  VALUE  ...     CELL_ID     SITE_ID
0          Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1            sms      0  ...  /+cKZKIp41  /+cKZKIp41
2            sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3          Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4          Voice     14  ...  051KhYDCpv  051KhYDCpv
...          ...    ...  ...         ...         ...
15011811   Voice     40  ...  y8Zy+A5U3K  y8Zy+A5U3K
15011812     sms      0  ...  yGAZ0YDzFi  yGAZ0YDzFi
15011813     sms      0  ...  ywp1Gp+dk/  ywp1Gp+dk/
15011814     sms      0  ...  zsA2dnzCR5  zsA2dnzCR5
15011815     sms      0  ...  zn4qbCp2XH  zn4qbCp2XH

[15011816 rows x 10 columns]

In [2]:
#loading data set two
import pandas as pd
url= 'http://bit.ly/TelecomDataset2'
df =pd.read_csv(url)
df

         PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0            sms      0  ...  +854AcBQT2  +854AcBQT2
1          Voice      0  ...  +854AcBQT2  +854AcBQT2
2            sms      0  ...  +laSrk7g6q  +laSrk7g6q
3          Voice     37  ...  /xvRrCVKoQ  /xvRrCVKoQ
4            sms     25  ...  +bO+qkSonO  +bO+qkSonO
...          ...    ...  ...         ...         ...
19606107     sms      0  ...  z34dRyOVua  z34dRyOVua
19606108     sms      0  ...  zbVRn1hiwe  zbVRn1hiwe
19606109    data      0  ...  zIzAzjMShv  zIzAzjMShv
19606110   Voice    101  ...  zqHx55Evcc  zqHx55Evcc
19606111     sms      0  ...  zqHx55Evcc  zqHx55Evcc

[19606112 rows x 10 columns]

In [3]:
url ='http://bit.ly/TelecomDataset3'
df = pd.read_csv(url)
df

         PRODUCT  VALUE  ...      CELLID     SIET_ID
0          Voice     61  ...  +38u2u/rfx  +38u2u/rfx
1            sms      0  ...  +Fs4mTvdKx  +Fs4mTvdKx
2          Voice     10  ...  +ZaaZozy/+  +ZaaZozy/+
3            sms      0  ...  +cNeJzsTp3  +cNeJzsTp3
4          Voice     22  ...  /eeMklgyJA  /eeMklgyJA
...          ...    ...  ...         ...         ...
14834796   Voice     14  ...  zsA2dnzCR5  zsA2dnzCR5
14834797     sms      0  ...  xxbbz32oIL  xxbbz32oIL
14834798     sms      0  ...  zbVRn1hiwe  zbVRn1hiwe
14834799     sms     25  ...  yPq8TPd7WC  yPq8TPd7WC
14834800     sms      0  ...  zqHx55Evcc  zqHx55Evcc

[14834801 rows x 10 columns]